.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list{
        display: flex;
        justify-content: space-around; //ajustar o espaçamento horizontal
        margin-top: 50px;

        &__item{
            text-align: center;
            padding: 60px 44px 44px; //primeiro em cima, segundo laterias, terceiro embaixo
            max-width: 380px;
            width: 100%;

            &:nth-child(2) { //para pegar o segundo item, se fosse o primeiro seria 1, ou o ultimo o 3
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain; //ocupa todo espaço preservando a prporcao da imagem
            }

            img {
                height: 83px;
            }

            strong {
                display: block;
                margin-top: 24px;
            }
        }
    }

    p {
        text-align: center;
    }
}